<% job = employee.job %>

<div class="col-sm-12">
  <table class="table table-bordered table-striped table-condensed text-center" id="values">
    <thead>
    <tr>
      <th>Salaire 35h</th>
      <th>Salaire 39h</th>
      <th>Salaire equivalence</th>
      <th>Jour 1/5</th>
      <th>Jour extra</th>
      <th>Heures simples</th>
      <th>Maj 1/2h</th>
      <th>Heure 125%</th>
      <th>Heure 150%</th>
      <th>Heure 175%</th>
      <th>Heure 200%</th>
      <th>MAJ 25%</th>
      <th>MAJ 50%</th>
      <% indemnities.each do |i| %>
        <th>IND <%= i.name %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><%= job.thirty_five_salary %></td>
      <td><%= job.base_salary %></td>
      <td><%=  %></td>
      <td><%= job.day_1_5 %></td>
      <td><%= job.day_extra %></td>
      <td><%= job.salary_per_hour %></td>
      <td><%= job.half_hour %></td>
      <td><%= job.hour_125 %></td>
      <td><%= job.hour_150 %></td>
      <td><%= job.hour_175 %></td>
      <td><%= job.hour_200 %></td>
      <td><%= job.maj_25 %></td>
      <td><%= job.maj_50 %></td>
      <% indemnities.each do |i| %>
          <td><%= i.value %></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>


<div class="col-sm-12">
  <table class="table table-bordered table-striped table-condensed text-center" id="hours">
    <thead>
    <tr>
      <th>Heures simples</th>
      <th>Heures 125%</th>
      <th>Heures 150%</th>
      <th>Heures 175%</th>
      <th>Heures 200%</th>
      <% indemnities.each do |i| %>
          <th>IND <%= i.name %></th>
      <% end %>
      <th>Total brut</th>
    </tr>
    </thead>

    <% hours = [] %>
    <% count_hash = {} %>
    <% @days.each do |d| %>
        <% d.hours.destroy_all %>
        <% d.create_hours %>
        <% hours.concat(d.hours) %>
        <% count_hash = d.merge_hours_counts_hash(count_hash) %>
    <% end %>

    <tbody>
    <tr>
      <td><%= count_hash[:'100'] %></td>
      <td><%= count_hash[:'125'] %></td>
      <td><%= count_hash[:'150'] %></td>
      <td><%= count_hash[:'175'] %></td>
      <td><%= count_hash[:'200'] %></td>
      <% indemnities.each do |i| %>
          <td></td>
      <% end %>
      <% total = count_hash[:'100']*job.salary_per_hour %>
      <% total += count_hash[:'125']*job.hour_125 %>
      <% total += count_hash[:'150']*job.hour_150 %>
      <% total += count_hash[:'175']*job.hour_175 %>
      <% total += count_hash[:'200']*job.hour_200 %>
      <td><%= total.round(2) %></td>
    </tr>
    </tbody>
  </table>
</div>