// Render hours in calendar
// TODO: enregistrer les heures lors des modifs dans un hash
// le jour se trouve dans $('th.fc_day_header').attr('data-date') sous la forme '%Y-%m-%d'

var work_events = <%= raw @days.as_json.to_json %>;
var work_events_source = {
    events: work_events
};
var lunch_events = <%= raw @days.as_json({lunch: true}).compact.to_json %>;
var lunch_events_source = {
    events: lunch_events,
    color: 'yellow',
    durationEditable: false
};

var calendar_div = $('div#calendar');
calendar_div.fullCalendar('removeEvents');
calendar_div.fullCalendar('addEventSource', work_events_source);
calendar_div.fullCalendar('addEventSource', lunch_events_source);


// Render employee salary calculation table
var tables_div = $('div#tables');
tables_div.show();
var tables = '<%= raw "#{ render 'weeks/employee_tables', {employee: @employee, days: @days, indemnities: @indemnities} }".gsub("\n", '') %>';
tables_div.children().remove();
$(tables).appendTo(tables_div);