<div class="text-center">
  <h1><%= link_to @shooting.name, @shooting %></h1>
  <h4><%= "Semaine #{@week.week_number} - #{@week.beginning_date.strftime('%d/%m/%Y')}" %></h4>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Calendrier
        <a href="#" data-toggle="modal" data-target="#update_shooting_hours_modal" class="btn btn-primary pull-right" id="get-shooting-hours">Heures de tournage</a>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12 px-2">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/.card-->
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Calcul des heures
        <button class="pull-right btn btn-primary" id="refresh-salary-table">Rafraichir</button>
      </div>
      <div class="card-block">
        <div class="row" id="tables">
        </div>
      </div>
    </div>
    <!--/.card-->
  </div>
</div>

<div class="modal fade" id="update_shooting_hours_modal" tabindex="-1" role="dialog" aria-labelledby="Update Shooting Hours Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Heures de tournage</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Lundi</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="1-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="1-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Mardi</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="2-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="2-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Mercredi</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="3-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="3-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Jeudi</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="4-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="4-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Vendredi</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="5-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="5-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Samedi</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="6-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="6-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <strong>Dimanche</strong>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="7-start" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-group">
                  <input type="number" name="7-end" class="form-control" min="0" max="23.5" step="0.5">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="pull-right btn btn-success" id="update-shooting-hours" value="Enregistrer">
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    // TODO: Ecrire le partial pour la table de salaire
    // TODO: Supprimer des evenements
    // TODO: pour le calcul du salaire problème des heures : les heures doivent être éditables (pour week_number et day_number)
    // Les supprimer et les recréer à chaque modif de calendrier
    // TODO: Jouer avec les options de Full Calendar pour la présentation du calendrier et la customization par l'utilisateur
    var calendar_div = $('div#calendar');
    var tables_div = $('div#tables');
    tables_div.hide();

    calendar_div.fullCalendar({
        locale: 'fr',
        header: {
            left: 'title',
            center: '',
            right: ''
        },
        footer: {},
        defaultDate: '<%= @week.beginning_date.strftime('%Y-%m-%d') %>',
        firstDay: 1,
        defaultView: 'agendaWeek',
        editable: true,
        columnFormat: 'ddd D/M',
        timeFormat: 'H:mm',
        slotLabelFormat: 'H(:mm)',
        allDaySlot: false,

        eventDrop: function(event, delta, revertFunc) {
            if (event.title === 'Lunch') {
                if (outOfWorkEvent(event)) revertFunc();
                else updateLunch(event);
            }
            else {
                if (otherEventExistsOnDay(event.start, event.id)) revertFunc();
                else updateEvent(event);
            }
        },

        eventResize: function(event, delta, revertFunc) {
            if (otherEventExistsOnDay(event.start, event.id)) revertFunc();
            else updateEvent(event);
        },

        dayClick: function(date) {
            if (!otherEventExistsOnDay(date, null)) addNewEvent(date);
        },

        eventRender: function(event, element) {
            var delete_button = '<button type="button" class="close" id="delete">×</button>';
            $(delete_button).prependTo(element.find('div.fc-time'));
        },

        eventClick: function(calEvent, jsEvent) {
            if (calEvent.title === 'Lunch') {
                if (jsEvent.target.id === 'delete') removeLunch(calEvent);
            }
            else {
                if (jsEvent.target.id === 'delete') deleteEvent(calEvent);
                if ($(jsEvent.target).attr("class") === 'fc-bg') addLunchEvent(calEvent);
            }
        }
    });

    function otherEventExistsOnDay(date, event_id) {
        var existing_event = $('#calendar').fullCalendar('clientEvents', function(event) {
            if ((new Date(event.start)).getUTCDate() == (new Date(date)).getUTCDate() && event_id !== event.id && event_id + '-lunch' !== event.id) return true;
            return false;
        });
        return existing_event.length > 0;
    }

    function outOfWorkEvent(lunch_event) {
        var work_event = $('#calendar').fullCalendar('clientEvents', function(event) {
            if ((new Date(event.start)).getUTCDate() == (new Date(lunch_event.start)).getUTCDate() && event.id + '-lunch' === lunch_event.id) return true;
            return false;
        })[0];

        return (new Date(lunch_event.start)).getTime() < (new Date(work_event.start)).getTime() ||
            (new Date(lunch_event.end)).getTime() > (new Date(work_event.end)).getTime()
    }

    function addNewEvent(date) {
        var employee_id = $('select#employee').val();
        if (employee_id === '') return;

        var params = JSON.parse(JSON.stringify({
            employee_id: employee_id,
            date: date
        }));

        $.post('<%= create_day_path(week_id: @week.id) %>', params, function(data) {
            var new_event = data['event'];
            calendar_div.fullCalendar('addEventSource', {events: [new_event]});
        });
    }

    function updateEvent(work_event) {
        var params = JSON.parse(JSON.stringify(adaptedEvent(work_event)));

        $.post('<%= update_day_path(week_id: @week.id) %>', params, function(data) {
            var updated_event = data['event'];
            calendar_div.fullCalendar('removeEvents', function(event) {
                if (event.id === work_event.id || event.id === work_event.id + '-lunch') return true;
                return false;
            });
            calendar_div.fullCalendar('addEventSource', {events: [updated_event]});

        });
    }

    function deleteEvent(work_event) {
        var params = JSON.parse(JSON.stringify(adaptedEvent(work_event)));

        $.post('<%= delete_day_path(week_id: @week.id) %>', params, function(data) {
            if (data['success']) calendar_div.fullCalendar('removeEvents', function(event) {
                if (event.id === work_event.id || event.id === work_event.id + '-lunch') return true;
                return false;
            });
        });
    }

    function addLunchEvent(work_event) {
        var existing_lunch_event = calendar_div.fullCalendar('clientEvents', function(event) {
            if (event.id === work_event.id + '-lunch') return true;
            return false;
        });
        if (existing_lunch_event.length !== 0) return;

        var params = JSON.parse(JSON.stringify(adaptedEvent(work_event)));

        $.post('<%= add_lunch_path(week_id: @week.id) %>', params, function(data) {
            var new_event_source = {
                events: [data['event']],
                color: 'yellow',
                durationEditable: false
            };
            calendar_div.fullCalendar('addEventSource', new_event_source);
        });
    }

    function updateLunch(lunch_event) {
        var params = JSON.parse(JSON.stringify(adaptedEvent(lunch_event)));

        $.post('<%= update_lunch_path(week_id: @week.id) %>', params, function(data) {
            var new_event_source = {
                events: [data['event']],
                color: 'yellow',
                durationEditable: false
            };

            calendar_div.fullCalendar('removeEvents', lunch_event.id);
            calendar_div.fullCalendar('addEventSource', new_event_source);
        });
    }

    function removeLunch(lunch_event) {
        var params = JSON.parse(JSON.stringify(adaptedEvent(lunch_event)));

        $.post('<%= remove_lunch_path(week_id: @week.id) %>', params, function(data) {
            if (data['success']) calendar_div.fullCalendar('removeEvents', lunch_event.id);
        });
    }

    function adaptedEvent(event) {
        return {
            employee_id: $('select#employee').val(),
            id: event.id,
            start: event.start,
            end: event.end,
            title: event.title
        };
    }


    var select_employee = '<%= raw "#{select_tag 'employee', options_for_select(@employees.map{ |e| [e.name + ' - ' + e.job.name, e.id] }), prompt: 'Choisir un salarié', class: 'form-control'}".gsub("\n", '') %>';
    $(select_employee).appendTo(calendar_div.find('div.fc-header-toolbar div.fc-right'));

    calendar_div.on('change', 'select#employee', employeeSelectionResponse);
    $('#refresh-salary-table').click(employeeSelectionResponse);

    function employeeSelectionResponse() {
        var employee_id = $('select#employee').val();
        if (employee_id === '') {
            calendar_div.fullCalendar('removeEvents');
            tables_div.hide();
            return;
        }

        $.post('<%= employee_selection_path(week_id: @week.id) %>', {employee_id: employee_id});
    }


    $('#get-shooting-hours').click(fillShootingHours);
    function fillShootingHours() {
        $.post('<%= get_shooting_hours_path(@week.id) %>', function(data) {
            var shooting_hours = data['shooting_hours'];

            for (var i = 1; i <= 7; i++) {
                var i_s = i.toString();
                var start = shooting_hours[i_s]['start'], end = shooting_hours[i_s]['end'];
                start = (start === null) ? '' : start;
                end = (end === null) ? '' : end;

                $('input[name="' + i_s + '-start"]').val(start);
                $('input[name="' + i_s + '-end"]').val(end);
            }
        });
    }


    $('#update-shooting-hours').click(updateShootingHours);
    function updateShootingHours() {
        var params = {shooting_hours: {}};
        for (var i = 1; i <= 7; i++) {
            var i_s = i.toString();
            var start = $('input[name="' + i_s + '-start"]').val(), end = $('input[name="' + i_s + '-end"]').val();
            start = (start === '') ? null : start;
            end = (end === '') ? null : end;

            params['shooting_hours'][i_s] = {
                start: start,
                end: end
            }
        }
        params = JSON.parse(JSON.stringify(params));

        $.post('<%= update_shooting_hours_path(@week.id) %>', params, function() {
            $('modal#update_shooting_hours_modal').toggle();
        });
    }
</script>