<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Supprimer Salarié</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <h3><%= "#{employee.name} (#{employee.job.name})" %> : Etes-vous sûr(e) de vouloir supprimer ce salarié ?</h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= button_to 'Supprimer', delete_employee_path(shooting_id: shooting.id, employee_id: employee.id), class: 'btn btn-danger pull-right' %>
  </div>
</div>
<!-- /.modal-content -->