<% unless employee.id.nil? %>
    <tr>
      <td>
        <%= employee.name %>
      </td>
      <td>
        <%= employee.job.name %>
      </td>
      <td>
        <%= employee.contract_start.strftime('%d/%m/%Y') unless employee.contract_start.nil? %>
      </td>
      <td>
        <% unless employee.contract_end.nil? %>
            <%= employee.contract_end.strftime('%d/%m/%Y') %>
        <% else %>
            <%= button_to 'Fin de contrat', employee_contract_end_path(shooting_id: @shooting.id, employee_id: employee.id), class: 'btn-sm btn-primary' %>
        <% end %>
      </td>
      <td>
        <button id="update-employee-<%= employee.id %>-modal" class="btn-sm btn-primary">Modifier</button>
      </td>
      <td>
        <button id="delete-employee-<%= employee.id %>-modal" class="btn-sm btn-danger">x</button>
      </td>
    </tr>

    <script>
      $(document).on('click', '#update-employee-<%= employee.id %>-modal', function() {
          var modal = $('div.modal#update_employee_modal');
          var modal_body = modal.find('div.modal-dialog');
          var update_modal_form = '<%= raw "#{ render 'employees/update_modal_form', {employee: employee, shooting: @shooting} }".gsub("\n", '') %>';

          modal_body.children().remove();
          $(update_modal_form).appendTo(modal_body);

          var datepickers = modal.modal().find('input.datepicker');
          datepickers.each(function() {
              var value = $(this).val();
              if (value !== '') {
                  value = value.split('-').reverse().join('/');
                  $(this).val(value);
              }
              $(this).datepicker({
                  dateFormat: 'dd/mm/yy'
              });
          });
      });

      $(document).on('click', '#delete-employee-<%= employee.id %>-modal', function() {
          var modal_body = $('div.modal#delete_employee_modal div.modal-dialog');
          var delete_modal_form = '<%= raw "#{ render 'employees/delete_modal_form', {employee: employee, shooting: @shooting} }".gsub("\n", '') %>';

          modal_body.children().remove();
          $(delete_modal_form).appendTo(modal_body);
          $('div.modal#delete_employee_modal').modal();
      });
    </script>
<% end %>