<%=form_for employee, url: update_employee_path(shooting_id: shooting.id, employee_id: employee.id) do |e|%>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mise à jour Salarié</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%=e.label 'Nom'%>
              <%=e.text_field :name, class:'form-control' %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <%=e.label 'Job'%>
              <%=e.select :job_id, Job.all.collect {|j| [j.name, j.id]}, class:'form-control' %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <%=e.label 'Début de contrat'%>
              <%=e.text_field :contract_start, class:'form-control datepicker' %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <%=e.label 'Fin de contrat'%>
              <%=e.text_field :contract_end, class:'form-control datepicker' %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <%=e.label 'Contrat à la journée ?'%>
              <%=e.check_box :daily_contract, class:'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
      </div>
    </div>
    <!-- /.modal-content -->
<% end %>
</div>
<!-- /.modal-dialog -->