<% unless job.id.nil? %>
    <tr>
      <td>
        <%= job.name %>
      </td>
      <td>
        <%= job.base_salary %>
      </td>
      <td>
        <%= job.equiv_from.to_s + ' -> ' + job.equiv_to.to_s unless job.equiv_from.nil? || job.equiv_to.nil? %>
      </td>
      <td>
        <button id="update-job-<%= job.id %>-modal" class="btn-sm btn-primary">Modifier</button>
      </td>
      <td>
        <button id="delete-job-<%= job.id %>-modal" class="btn-sm btn-danger">x</button>
      </td>
    </tr>

    <script>
        $(document).on('click', '#update-job-<%= job.id %>-modal', function() {
            var modal_body = $('div.modal#update_job_modal div.modal-dialog');
            var update_modal_form = '<%= raw "#{ render 'jobs/update_modal_form', {job: job} }".gsub("\n", '') %>';

            modal_body.children().remove();
            $(update_modal_form).appendTo(modal_body);
            $('div.modal#update_job_modal').modal();
        });

        $(document).on('click', '#delete-job-<%= job.id %>-modal', function() {
            var modal_body = $('div.modal#delete_job_modal div.modal-dialog');
            var delete_modal_form = '<%= raw "#{ render 'jobs/delete_modal_form', {job: job} }".gsub("\n", '') %>';

            modal_body.children().remove();
            $(delete_modal_form).appendTo(modal_body);
            $('div.modal#delete_job_modal').modal();
        });
    </script>
<% end %>