<%=form_for job, url: job_path(job) do |i|%>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mise à jour Fonction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%=i.label 'Nom'%>
              <%=i.text_field :name, class:'form-control' %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <%=i.label 'Salaire 39h'%>
              <%=i.number_field :base_salary, class:'form-control', step: 0.01 %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <strong>Equivalences</strong>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <%=i.number_field :equiv_from, class:'form-control', step: 1 %>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <%=i.number_field :equiv_to, class:'form-control', step: 1 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
      </div>
    </div>
    <!-- /.modal-content -->
<% end %>