<h1>Fonctions</h1>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Fonctions du cinéma
        <a href="#" data-toggle="modal" data-target="#create_job_modal" class="btn btn-primary pull-right">Ajouter fonction</a>
      </div>
      <div class="card-block">
        <table class="table table-bordered table-striped table-condensed text-center" id="jobs">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Salaire 39h</th>
            <th>Equivalences</th>
            <th>Mettre à jour</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <%= render @jobs %>
          </tbody>
        </table>
      </div>
    </div>
    <!--/.card-->
  </div>
</div>

<div class="modal fade" id="create_job_modal" tabindex="-1" role="dialog" aria-labelledby="Create Job Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%=form_for @new_job, url: :jobs do |i|%>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nouvelle fonction du cinéma</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <%=i.label 'Nom'%>
                  <%=i.text_field :name, class:'form-control' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=i.label 'Salaire 39h'%>
                  <%=i.number_field :base_salary, class:'form-control', step: 0.01 %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-4">
                    <strong>Equivalences</strong>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%=i.number_field :equiv_from, class:'form-control', step: 1 %>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <%=i.number_field :equiv_to, class:'form-control', step: 1 %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
          </div>
        </div>
        <!-- /.modal-content -->
    <% end %>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="update_job_modal" tabindex="-1" role="dialog" aria-labelledby="Update Job Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="delete_job_modal" tabindex="-1" role="dialog" aria-labelledby="Delete Job Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->