<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card-group mb-0">
      <div class="card p-2">
        <div class="card-block">
          <%=form_for :user, url: login_path do |f|%>
              <h1>Login</h1>
              <p class="text-muted">Connexion</p>
              <div class="input-group mb-1">
                        <span class="input-group-addon">
                            <i class="icon-envelope"></i>
                        </span>
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
              </div>
              <div class="input-group mb-2">
                        <span class="input-group-addon">
                            <i class="icon-lock"></i>
                        </span>
                <%= f.password_field :password, class: 'form-control', placeholder: 'Mot de passe' %>
              </div>
              <div class="row">
                <div class="col-6">
                  <%= f.submit 'Login', class: 'btn btn-primary px-2' %>
                </div>
              </div>
          <%end%>
        </div>
      </div>
      <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
        <div class="card-block text-center">
          <div>
            <h2>S'enregistrer</h2>
            <p>Rapidement</p>
            <a href="<%= render_signup_path %>" class="btn btn-primary active mt-1">S'enregistrer maintenant</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
