<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mx-2">
      <div class="card-block p-2">
        <%=form_for @user, url: :signup do |f|%>
            <h1>S'enregistrer</h1>
            <p class="text-muted">Créez votre compte</p>
            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="input-group mb-1">
                    <span class="input-group-addon">
                        <i class="icon-lock"></i>
                    </span>
              <%= f.password_field :password, class: 'form-control', placeholder: 'Mot de passe' %>
            </div>

            <div class="input-group mb-2">
                    <span class="input-group-addon">
                        <i class="icon-lock"></i>
                    </span>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmation' %>
            </div>

            <%= f.submit 'Créer compte', class: 'btn btn-block btn-success' %>
        <%end%>
      </div>
    </div>
  </div>
</div>
