<% unless shooting.id.nil? %>
  <tr>
    <td>
      <%= link_to shooting.name, shooting %>
    </td>
    <td>
      <%= shooting.number_of_weeks.to_s + ' semaines' %>
    </td>
    <td>
      <%= shooting.start.strftime('%d/%m/%Y') unless shooting.start.nil? %>
    </td>
    <td>
      <%= shooting.end.strftime('%d/%m/%Y') if !shooting.end.nil? && shooting.end < Date.today %>
    </td>
  </tr>
<% end %>