<div class="row">
  <% unless @current_shooting.nil? %>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <%= link_to @current_shooting.name, @current_shooting %>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-8 px-2">
                Tournage actuel avec quelques stats et employés etc, principales infos
              </div>
              <div class="col-md-4 px-2">
                Vue rapide sur la semaine actuelle
              </div>
            </div>
          </div>
        </div>
        <!--/.card-->
      </div>
  <% end %>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Tournages
        <a href="#" data-toggle="modal" data-target="#create_shooting_modal" class="btn btn-primary pull-right">Nouveau tournage</a>
      </div>
      <div class="card-block">
        <table class="table table-bordered table-striped table-condensed text-center" id="shootings">
          <thead>
          <tr>
            <th>Film</th>
            <th>Nombre de semaines</th>
            <th>Début du tournage</th>
            <th>Fin du tournage</th>
          </tr>
          </thead>
          <tbody>
          <%= render @shootings %>
          </tbody>
        </table>
      </div>
    </div>
    <!--/.card-->
  </div>
</div>

<div class="modal fade" id="create_shooting_modal" tabindex="-1" role="dialog" aria-labelledby="Create Shooting Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%=form_for @new_shooting, url: :shootings do |s|%>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nouveau tournage</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <%=s.label :nom%>
                  <%=s.text_field :name, class:'form-control' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=s.label 'Début'%>
                  <%=s.text_field :start, class:'form-control datepicker' %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
          </div>
        </div>
        <!-- /.modal-content -->
    <% end %>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
    $( function() {
        $( "input.datepicker" ).datepicker({
            dateFormat: "dd/mm/yy",
            defaultDate: 0
        });
    } );
</script>