<% # TODO: Intégrer weeks/show ? insérer le calendrier ici avec la possibilité de switcher de semaine ? Le controller weeks sert à rien %>
<% # TODO: Afficher des infos intéressantes avec les semaines : nombre d'employés sans fin de contrat sans heures de travail sur la semaine, nombre d'employés sous 35h etc %>

<h1 class="text-center">
  <%= @shooting.name %>
</h1>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Calendrier
        <a href="#" data-toggle="modal" data-target="#create_week_modal" class="btn btn-primary pull-right">Ajouter semaine</a>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-8 px-2">
            <%= link_to 'Semaine du ' + @last_weeks[0].beginning_date.strftime('%d/%m/%Y'), @last_weeks[0] if @last_weeks.length > 0 %>
          </div>
          <div class="col-md-4 px-2">
            <div class="row">
              <div class="col-md-12"><%= link_to 'Semaine du ' + @last_weeks[1].beginning_date.strftime('%d/%m/%Y'), @last_weeks[1] if @last_weeks.length > 1 %></div>
              <div class="col-md-12"><%= link_to 'Semaine du ' + @last_weeks[2].beginning_date.strftime('%d/%m/%Y'), @last_weeks[2] if @last_weeks.length > 2 %></div>
              <div class="col-md-12"><%= link_to 'Semaine du ' + @last_weeks[3].beginning_date.strftime('%d/%m/%Y'), @last_weeks[3] if @last_weeks.length > 3 %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-3 offset-sm-6">
            <div class="form-group">
              <input type="text" name="week" class="form-control datepicker pull-right">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <button class="pull-right btn btn-success" id="get-week">Aller à la semaine</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.card-->
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Salariés
        <a href="#" data-toggle="modal" data-target="#create_employee_modal" class="btn btn-primary pull-right">Ajouter salarié</a>
      </div>
      <div class="card-block">
        <table class="table table-bordered table-striped table-condensed text-center" id="employees">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Début de contrat</th>
            <th>Fin de contrat</th>
            <th>Mettre à jour</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <%= render @employees %>
          </tbody>
        </table>
      </div>
    </div>
    <!--/.card-->
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Indemnités
        <a href="#" data-toggle="modal" data-target="#create_indemnity_modal" class="btn btn-primary pull-right">Ajouter indemnité</a>
      </div>
      <div class="card-block">
        <table class="table table-bordered table-striped table-condensed text-center" id="indemnities">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Valeur</th>
            <th>Mettre à jour</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <%= render @indemnities %>
          </tbody>
        </table>
      </div>
    </div>
    <!--/.card-->
  </div>
</div>

<button class="btn btn-danger pull-right">Fin de tournage</button>

<div class="modal fade" id="create_week_modal" tabindex="-1" role="dialog" aria-labelledby="Create Week Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%=form_for @new_week, url: :weeks do |s|%>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nouvelle semaine</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <%=s.label 'Semaine du...'%>
                  <%=s.text_field :beginning_date, class:'form-control datepicker' %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
          </div>
        </div>
        <!-- /.modal-content -->
    <% end %>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="create_employee_modal" tabindex="-1" role="dialog" aria-labelledby="Create Employee Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%=form_for @new_employee, url: create_employee_path(shooting_id: @shooting.id) do |e|%>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nouveau Salarié</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <%=e.label 'Nom'%>
                  <%=e.text_field :name, class:'form-control' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=e.label 'Job'%>
                  <%=e.select :job_id, Job.all.collect {|j| [j.name, j.id]}, class:'form-control' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=e.label 'Début de contrat'%>
                  <%=e.text_field :contract_start, class:'form-control datepicker' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=e.label 'Fin de contrat'%>
                  <%=e.text_field :contract_end, class:'form-control datepicker' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=e.label 'Contrat à la journée ?'%>
                  <%=e.check_box :daily_contract, class:'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
          </div>
        </div>
        <!-- /.modal-content -->
    <% end %>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="update_employee_modal" tabindex="-1" role="dialog" aria-labelledby="Update Employee Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="delete_employee_modal" tabindex="-1" role="dialog" aria-labelledby="Delete Employee Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div class="modal fade" id="create_indemnity_modal" tabindex="-1" role="dialog" aria-labelledby="Create Indemnity Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%=form_for @new_indemnity, url: create_indemnity_path(shooting_id: @shooting.id) do |i|%>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nouvelle Indemnité</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <%=i.label 'Nom'%>
                  <%=i.text_field :name, class:'form-control' %>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <%=i.label 'Valeur'%>
                  <%=i.number_field :value, class:'form-control', step: 0.01 %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
          </div>
        </div>
        <!-- /.modal-content -->
    <% end %>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="update_indemnity_modal" tabindex="-1" role="dialog" aria-labelledby="Update Indemnity Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="delete_indemnity_modal" tabindex="-1" role="dialog" aria-labelledby="Delete Indemnity Modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
    $( function() {
        $( "input.datepicker" ).datepicker({
            dateFormat: "dd/mm/yy",
            defaultDate: 0
        });
    } );

    $('button#get-week').click(function() {
        var date = $('input[name="week"]').val();
        if (date == '') return;

        var params = {date: date};

        $.post('<%= get_week_path(shooting_id: @shooting.id) %>', params);
    });
</script>