<% unless indemnity.id.nil? %>
    <tr>
      <td>
        <%= indemnity.name %>
      </td>
      <td>
        <%= indemnity.value %>
      </td>
      <td>
        <button id="update-indemnity-<%= indemnity.id %>-modal" class="btn-sm btn-primary">Modifier</button>
      </td>
      <td>
        <button id="delete-indemnity-<%= indemnity.id %>-modal" class="btn-sm btn-danger">x</button>
      </td>
    </tr>

    <script>
        $(document).on('click', '#update-indemnity-<%= indemnity.id %>-modal', function() {
            var modal_body = $('div.modal#update_indemnity_modal div.modal-dialog');
            var update_modal_form = '<%= raw "#{ render 'indemnities/update_modal_form', {indemnity: indemnity, shooting: @shooting} }".gsub("\n", '') %>';

            modal_body.children().remove();
            $(update_modal_form).appendTo(modal_body);
            $('div.modal#update_indemnity_modal').modal();
        });

        $(document).on('click', '#delete-indemnity-<%= indemnity.id %>-modal', function() {
            var modal_body = $('div.modal#delete_indemnity_modal div.modal-dialog');
            var delete_modal_form = '<%= raw "#{ render 'indemnities/delete_modal_form', {indemnity: indemnity, shooting: @shooting} }".gsub("\n", '') %>';

            modal_body.children().remove();
            $(delete_modal_form).appendTo(modal_body);
            $('div.modal#delete_indemnity_modal').modal();
        });
    </script>
<% end %>