<%=form_for indemnity, url: update_indemnity_path(shooting_id: shooting.id, indemnity_id: indemnity.id) do |i|%>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mise à jour Indemnité</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%=i.label 'Nom'%>
              <%=i.text_field :name, class:'form-control' %>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <%=i.label 'Valeur'%>
              <%=i.number_field :value, class:'form-control', step: 0.01 %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="pull-right btn btn-success" value="Enregistrer">
      </div>
    </div>
    <!-- /.modal-content -->
<% end %>