<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Cine Compta</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="app header-fixed">
<header class="app-header navbar">
  <ul class="nav navbar-nav ml-auto">
    <li><%= link_to 'Accueil', shootings_path %></li>
    <li><%= link_to 'Fonctions', jobs_path %></li>
    <li><%= link_to 'Aide', '/#' %></li>
    <li><%= link_to 'Déconnexion', logout_path %></li>
  </ul>
</header>

<!-- Main content -->
<main class="main">
  <!-- Breadcrumb -->
  <ol class="breadcrumb">
    ...
  </ol>
  <div class="container-fluid">
    <% flash.each do |name, msg| %>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card card-inverse card-<%= name %> text-center">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p><%= msg %></p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%= yield %>
  </div>
</main>

</div>
</div>
<footer class="app-footer">
  <span class="float-right">
        Cine Compta
    </span>
</footer>


</body>
</html>
