<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>Cine Compta</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="app flex-row align-items-center">
        <div class="container">
        <% flash.each do |name, msg| %>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-inverse card-<%=name%> text-center">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p><%=msg%></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <%=yield%>
      </div>


    </body>

</html>
